body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
}

.logo img {
    padding: 0;
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 9px;
    background-color: #333333;
    transition: background-color 0.3s ease;
}

nav.scrolled {
    background-color: #333333;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.donation-button {
    background-color: #1ed760;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

.image-form {
    display: flex;
    background-color: #ebf6ff;
    height: 100vh;
    flex-direction: column; /* Adaptable en mobile */
}

.map {
    background-color: #ebf6ff;
    margin-top: 160px;
    width: 100%;
    flex: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-- {
    margin-left: 20px;
    margin-top: 40px;
    width: 50%;
}

.map-- path {
    fill: darkslategray;
    stroke: white;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map-- .active path {
    fill: greenyellow;
}

.list-region {
    margin-left: 15%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 4px;
}

.h4-map {
    font-weight: lighter;
    color: darkslategray;
    font-size: 16px;
    margin: 20px;
}

.h-map {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2a3d52;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.haut {
    margin-top: 150px;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.titre-haut {
    width: 50%;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #293147;
}

.subtitle {
    font-weight: bold;
    text-align: left;
    font-size: 1.4rem;
    color: #5da9d8;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 100px;
}

.missions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mission-item {
    width: 45%;
    margin-bottom: 20px;
    text-align: center;
}

.mission-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #2a3d52;
}

.icon {
    border-radius: 100px;
    background-color: #1e1647;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.btn-benevole {
    margin-top: 20px;
    background-color: #17a2b8;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 20px;
}

.btn-benevole:hover {
    background-color: #138496;
}

.s-contact {
    list-style: none;
    color: darkslategray;
    font-size: 1.2em;
}

.footer {
    margin-top: 5%;
    background-color: white;
    color: black;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
}

.footer-info, .footer-links, .footer-social {
    flex: 1;
    padding: 0 20px;
}

.footer h3 {
    color: #353231;
    margin-bottom: 15px;
    font-size: 1.16em;
    text-transform: uppercase;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

.footer a {
    color: #323335;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #3498db;
    text-decoration: underline;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    margin: 10px 0;
}

.footer-bottom {
    margin-top: 30px;
    font-size: 0.9em;
}

.footer-bottom p {
    margin: 0;
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 0;
}

.contact {
    margin-right: 8%;
    margin-top: 15%;
    margin-left: 8%;
    margin-bottom: 8%;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 10px gray;
    border-radius: 10px;
    overflow: hidden;
}

.container-contact {
    padding: 20px;
    width: 50%;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 100px;
}

.send-btn {
    width: 100%;
    padding: 10px;
    background-color: #00c4cc;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #00a1a8;
}

.illustration-container {
    width: 50%;
    background-color: #eaf3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration {
    width: 80%;
}





@media (max-width: 1024px) {
    .titre-haut, .h-map {
        font-size: 2rem;
    }
    .image-form {
        flex-direction: column;
        height: 40%;
    }
}

@media (max-width: 768px) {
    .h4-map {
        font-weight: lighter;
        color: darkslategray;
        font-size: 10px;
        margin: 20px;
    }

    .h-map {
        font-size: 1.2rem;
        font-weight: 700;
        color: #2a3d52;
        text-align: center;
    }
    .container-contact {
        width: 100%;
        margin-left: 0;
    }
    .illustration-container {
        width: 0%;
    }
    .titre-haut, .subtitle {
        width: 90%;
    }
    .footer-container {
        flex-direction: column;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333333;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    /* Montrer le bouton burger */
    .burger {
        display: flex;
        padding-right: 4%;
    }

    /* Afficher le menu lorsque le burger est actif */
    .nav-links.active {
        display: flex;
        padding-bottom: 4%;
    }
}

@media (max-width: 480px) {
    .titre-haut {
        font-size: 1.8rem;
    }
    .map--, .subtitle {
        margin-left: 0;
        font-size: 1.2rem;
    }
    .icon {
        width: 40px;
        height: 40px;
    }
}
