body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
}

.logo img {
    padding: 0;
    width: 80px; /* Ajuste la largeur selon ta préférence */
    height: auto; /* Garde les proportions */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 9px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}


nav.scrolled {
    background-color: #333333; /* Change en noir après défilement */
}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links li:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);

}


.donation-button {
    background-color: #1ed760;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

.image-acceuil {
    display: flex;
    margin-top: 80px;
    background-color: #ebf6ff;
    height: 100vh;

}

.map {
    background-color: #ebf6ff;
    margin-top: 160px;
    width: 100%;
    flex: 2; /* Prendre 2/3 de l'espace */
    overflow: hidden; /* Empêche le défilement */
    display: flex; /* Utilisation de flexbox pour la carte */
    justify-content: center; /* Centre le contenu */
    align-items: center; /* Centre le contenu verticalement */
}

.map-- {
    margin-left: 20px;
    margin-top: 40px;
    width: 50%;
    float: left;
}

.map-- path {
    fill: darkslategray;
    stroke: white;
    stroke-width: 1px;
    transition: fill 0.3s;
}
.map-- .active path{
    fill: greenyellow;
}

.list-region {
    margin-left: 15%;
    flex: 1;
    float: left;
    flex-direction: column;   /* Permet de disposer les éléments en colonne */
    justify-content: flex-start;
}

.h4-map {
    font-weight: lighter;
    color: darkslategray;
    font-size: 16px;
    margin: 20px;
}

.h-map {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2a3d52;
    text-align: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.haut {
    margin-top: 150px;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.titre-haut {
    width: 50%;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #293147;
}

.subtitle {
    font-weight: bold;
    text-align: left;
    font-size: 1.4rem;
    color: #5da9d8;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 100px;
}

.missions {
    display: flex;
    flex-wrap: wrap; /* Permet de renvoyer les éléments à la ligne */
    justify-content: space-around; /* Espace entre les éléments */
}

.mission-item {
    width: 45%; /* 45% pour que deux éléments rentrent sur une ligne */
    margin-bottom: 20px; /* Espacement entre les lignes */
    text-align: center;
}

.mission-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #2a3d52;
}

.icon {
    border-radius: 100px;
    background-color: #1e1647;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.btn-benevole {
    margin-top: 20px;
    background-color: #17a2b8;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 20px;
}

.btn-benevole:hover {
    background-color: #138496;
}

.s-contact {
    list-style: none;
    color: darkslategray;
    font-size: 1.2em;
}

.footer {
    margin-top: 5%;
    background-color: white; /* Couleur de fond sombre */
    color: black;              /* Couleur du texte */
    padding: 40px 20px;       /* Espacement intérieur */
    text-align: center;        /* Centre le texte */
}

.footer-container {
    display: flex;                      /* Utilisation de flexbox pour la disposition */
    justify-content: space-around;      /* Espacement entre les éléments */
    max-width: 100%;                 /* Largeur maximale du conteneur */
    margin: 0 auto;                    /* Centre le conteneur */
}

.footer-info, .footer-links, .footer-social {
    flex: 1;                          /* Éléments flexibles qui prennent un espace égal */
    padding: 0 20px;                 /* Espacement autour des sections */
}

.footer h3 {
    color: #353231;
    margin-bottom: 15px;             /* Espacement sous les titres */
    font-size: 1.16em;                /* Taille de police pour les titres */
    text-transform: uppercase;        /* Transforme le texte en majuscules */
    border-bottom: 2px solid #ecf0f1; /* Bordure sous le titre */
    padding-bottom: 10px;            /* Espacement sous le titre */
}

.footer a {
    color: #323335;                  /* Couleur des liens */
    text-decoration: none;           /* Supprime le soulignement */
    transition: color 0.3s;          /* Transition pour l'effet de survol */
}

.footer a:hover {
    color: #3498db;                  /* Couleur au survol */
    text-decoration: underline;      /* Souligne les liens au survol */
}

.footer ul {
    list-style-type: none;           /* Supprime les puces */
    padding: 0;                      /* Supprime le padding par défaut */
}

.footer li {
    margin: 10px 0;                  /* Espacement entre les éléments de la liste */
}

.footer-bottom {
    margin-top: 30px;                /* Espacement au-dessus de la ligne du bas */
    font-size: 0.9em;                /* Taille de police pour le texte du bas */
}

.footer-bottom p {
    margin: 0;                       /* Supprime la marge par défaut */
}

/* Styles pour les icônes des réseaux sociaux */
.social-links {
    display: flex;                   /* Flexbox pour les réseaux sociaux */
    justify-content: center;         /* Centre les icônes */
    padding: 0;                     /* Supprime le padding par défaut */
}

.contact {
    margin-top: 8%;
    margin-left:20%;
    margin-bottom: 8%;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 10px gray;
    border-radius: 10px;
    overflow: hidden;
}

.container-contact {
    padding: 20px;
    width: 50%;
}
.input-group {
    margin-bottom: 15px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 100px;
}

.send-btn {
    width: 100%;
    padding: 10px;
    background-color: #00c4cc;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #00a1a8;
}

.illustration-container {
    width: 50%;
    background-color: #eaf3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration {
    width: 80%;
}
