* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo img {
    padding: 0;
    width: 80px; /* Ajuste la largeur selon ta préférence */
    height: auto; /* Garde les proportions */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav.scrolled {
    background-color: #333333; /* Change en noir après défilement */
}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links li:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);

}

.donation-button {
    background-color: #1ed760;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

.main-content {
    margin-top: 0;
    padding: 0;
    background-image: url('../image/1 (2).png'); /* Ton image */
    background-size: cover; /* L'image couvre toute la section */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    height: 100vh; /* Prend toute la hauteur de l'écran */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


h1 {
    font-size: 48px;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .hero-background {
        background-image: url(''); /* Une version différente de l'image pour mobile */
    }
}
